# files to be ignored by git
__pycache__
*.pyc
*.DS_Store
*.log

# IDE files
.idea/
.vscode/.ropeproject/config.py
settings.json

connect_to_ec2.sh
rds_creds.txt

# AWS
aws-jambalaya-credentials.csv
scraped_data/
deployment/
deployment-zip.zip
scripts/lambdaoutput.txt
database-credentials.txt
ec2instance.pem
src/.ipynb_checkpoints/queries-checkpoint.ipynb
.vscode/.ropeproject/objectdb
