# files to be ignored by git
__pycache__
*.pyc
*.DS_Store

# IDE files
.idea/
.vscode/.ropeproject/config.py

connect_to_ec2.sh

# AWS
aws-jambalaya-credentials.csv
scraped_data/
deployment/
deployment-zip.zip
scripts/lambdaoutput.txt
database-credentials.txt
