[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

"bs4" = "*"
datetime = "*"
typing = "*"
pymysql = "*"
sqlalchemy = "*"
"traceback2" = "*"
selenium = "*"
jupyter = "*"
pandas = "*"
keras = "*"
tensorflow = "*"
dateutils = "*"
"h5py" = "*"


[dev-packages]

